body {
  margin: auto;  
}

path {
  fill: white;
  stroke: #000;
  stroke-width: 1.5px;
}

rect {
	fill:white;
	stroke-width: 3px;	
}

svg{
	width: 100%;
	height: auto;
}

text{
	font-size: 10px;
	text-anchor: middle;
}

#imgs_wrapper img{
	position: absolute;
	width: 100%;
}
#imgs_wrapper{
	width: calc(100% - 250px);
	float: left;
	padding:10px;
	box-sizing: border-box;
	position: relative;
	margin-top: 100px;
}

#button_wrapper a:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;

}
#button_wrapper a{		
	color: white;	
	display: inline-block;
	background-color: #007bff;
	border-color: #007bff;
	margin-top: 10px;
	border-radius: 5px;	
	cursor: pointer;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	text-decoration: none;
}
#button_wrapper{	
	position: relative;	
	padding:10px;
	box-sizing: border-box;
	z-index: 1001;
	margin: 0 auto;
	text-align: center;
	width: 200px;
	float: left;
}

.content{
	width: 100%;	
}

.btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle{
	background-color: #a2a2a2;
}

#rotateLeft, #rotateRight{
	width: 100%;
}
.clearfix{
	clear: both;
	float: none;
}

#button_wrapper div{
	display:inline-block;
}

#button_wrapper label{
	margin-bottom: 0;
}

/* Checkbox Style */
.checkbox_container {
    display: block;
    position: relative;
    padding-left: 35px;
    text-align: left;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox_container:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
    content: "";
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    display: none;
}