* {
    box-sizing: border-box;
}
body {
    background: white;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
header {
    background: #f04343;
    color: #f7e9cc;
    padding: 1.5em 0;
    position: relative;
}

footer{
    background: black;
    padding:50px 0;
    color: white;
}

footer a{
    color: white;
    text-decoration: underline;
}
.logo {
    color: black;
    font-size: 1rem;
    margin: 0;
    padding-top: 24px;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    height: 65px;
    background-color: white;
}
.logo span {
    font-weight: 400;
}
.menu-toggle {
    position: absolute;
    padding: 0.8em;
    top: 1em;
    right: .5em;
    cursor: pointer;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: black;
    height: 3px;
    width: 2em;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
}
.hamburger::before {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
}
.hamburger::after {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}
.open .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.open .hamburger::before {
    display: none;
}
.open .hamburger::after {
    -webkit-transform: translateY(-1px) rotate(-90deg);
    transform: translateY(-1px) rotate(-90deg);
}
/*.site-nav--open {
-webkit-clip-path: circle(150% at top right);
clip-path: circle(150% at top right);
}
*/

nav {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: white;
    z-index: 2000;
}
nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;    
}
nav ul.opening {
    display: block;
    height: 30px;
}
nav li {
    border-bottom: 1px solid #f6f4e2;
}
nav li:last-child {
    border-bottom: none;
}
nav a {
    color: black;
    background: #fff;
    display: block;
    padding: 1.5em 4em 1.5em 3em;
    text-transform: uppercase;
    text-decoration: none;
}
nav a:hover,
nav a:focus {
    background: #E4B363;
}

li.current a{
    color:#FF0055;
}
.site-nav--icon {
    font-size: 1.4em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, .4);
}



img{
  max-width: 100%;
}

h2.section_title{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

p{
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;  
  font-style: normal;
  font-variant: normal;
  font-weight: 400;  
}

#main_content p{

}
.half{
    width:100%;
}
.content_wrapper{
    padding:70px 0px 30px;
}
@media (min-width: 780px) {
    .content_wrapper{
      padding:70px 15px 30px;
    }
    .half{
      width: 50%;
      float: left;
    }
    .menu-toggle {
        display: none;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    nav li {
        border: none;
    }
    nav li a {
        padding: 1.5em 1.3em 1.5em 1.3em;
        margin: 0;
        border: none;        
    }
    nav a:hover,
    nav a:focus {
        background-color: rgba(255, 255, 255, .10);
        color: #FF0055;
    }
    .logo {
        flex: 0 0 200px;
        margin: 0;
        padding-left: 20px;
        float: left;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        background-color: white;
    }
    
    .site-nav--icon {
        display: none;
    }
}

nav a.logo{
  display: block;
  max-width: 250px;
  padding:10px;  
}

nav a.logo img{
    max-width: 45px;    
}

span.logo_txt{
    font-size: 30px;
    font-weight: 800;
    padding-left: 10px;
    vertical-align: bottom;
}

nav a.logo:hover, nav a.logo:focus{
    background: white;
}

.clearfix{
    clear:both;
    float: none;
}

h3.widget_title{
    text-align: left;
}
@media (max-width: 767px) {
    .widget_wrapper{
        text-align: center;
    }

    h3.widget_title{
        text-align: center;
    }
}